

NET "CLK" LOC = C9;
#NET "CLK" LOC = L13;
#NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "OUTLED[3]" LOC = F11;
NET "OUTLED[2]" LOC = E11;
NET "OUTLED[1]" LOC = E12;
NET "OUTLED[0]" LOC = F12;

# PlanAhead Generated physical constraints 

NET "OUTLCD[3]" LOC = M15 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "OUTLCD[2]" LOC = P17 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "OUTLCD[1]" LOC = R16 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "OUTLCD[0]" LOC = R15 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "ENA" LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "RS" LOC = L18 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "RW" LOC = L17 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
